<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beatriz Kava | Designer Gráfico</title>
    <meta name="description" content="Portfólio de Beatriz Kava, designer gráfico.">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">
</head>

<body>
    {% include 'componentes_index/cabecalho.html' %}

    <main>
        {% include 'componentes_index/secao_hero.html' %}
        {% include 'componentes_index/secao_sobre.html' %}
        {% include 'componentes_index/secao_galeria.html' %}
        {% include 'componentes_index/secao_contato.html' %}
    </main>

    {% include 'componentes_index/rodape.html' %}
</body>
</html>
